@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 
html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}

header{
  position: sticky;
  top: 0;
  background: white;
  height: 66px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.right-box{
    display: flex;
    margin: 12px;
  }

.left img{
  width: 27px;
  height: 23px;
}

nav{
  padding-top: 14px;
  font-size: 12px;
}

.container{
  padding: 0 10vw;
  
}

.containerHeader{
  padding: 0 10vw;
  
}

nav ul li{
  list-style: none;
  padding: 0 10px;
}

.section1{
  background: #f2f2f2;
  height: 259vh;

}

.search{
  width: 26vw;
  padding: 7px 17px;
  background: #f7f8fd;
  border: 0.5 solid grey;
  border-radius: 5px;
}

.homeImg{
    width: 80vw;
    margin: 12px 0;
}

footer{
  padding: 23px;
  text-align: center;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

@media (max-width: 650px){
    .search{
      width: 72vw;
    }
}

@media (max-width: 1250px){
  header{
    height: 122px;
  }

  nav{
    flex-direction: column;
    align-items: center;
  }

  .right{
    flex-direction: column;
  }

  .right-box{
    display: flex;
    margin: 12px;
  }

  nav ul li{
    font-size: 10px;
    padding: 0 4px;
    list-style: none;
  }

  .containerHeader{
    padding: 2vw;
  }

  .section1{
    height: 85vh;
  }

  .search{
    width: 72vw;
    padding: 7px 17px;
    border: 0.5px solid grey;
    background: #f7f8fd;
    border-radius: 5px;
  }
}


